*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color: #2196f3;
    width: 100%;
    height: 100vh;
}
.landing-page{
    background: #fffffff0;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    margin-top: 40px;
    height: calc(100vh - 80px);
}
.landing-page::before{
    content: '';
    background: #00000008;
    width: 500px;
    height: 500px;
    position: absolute;
    left: -295px;
    top: -278px;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 66% 91%, 25% 100%, 0% 60%, 10% 20%);
}

/* Main Section  */

.landing-page .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* background: #cccccc40; */
    height: 70px;
}
.landing-page .head .logo{
    width: calc(100% - 57%);
    padding: 0 31px;
    z-index: 20;
}
.landing-page .head .logo span{
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 13px;
    color: #293dab;

}
.landing-page .head .lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50%);
    padding-left: 20px;
    position: relative;

}
.landing-page .head .lists li{
    list-style: none;
    position: relative;
}
.landing-page .head .lists li:first-of-type::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #293dab;
    bottom: 0;
}
.landing-page .head .lists li a{
    text-decoration: none;
    color: #293dab;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.landing-page .head .lists .toggle {
    width: 23px;
    height: 23px;
    /* background-color: #293dab; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    /* margin-left: -23px; */
}
.landing-page .head .lists .toggle span{
    width: 21px;
    height: 1.5px;
    background-color: #293dab;
}


/* Main Section  */

.landing-page .main{
    /* margin-top: 20px; */
    padding: 0 20px;
    width: calc(100% - 40px);
    text-align: center;
}
.landing-page .main .h1{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 40px;
    color: #293dab;
}
.landing-page .main p{
    font-family: sans-serif;
    font-size: 12px;
    color: #9a9898c9;
    width: 52%;
    margin: 9px auto;
    font-weight: bold;
}
.landing-page .main .image{
    width: 92%;
    height: 429px;
    margin: -1px auto;
}
.landing-page .main .image img{
    width: 100%;
    height: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    .landing-page {
        width: 90%;
    }
    .landing-page .head .lists li.main-list:not(:last-child) {
        display: none; 
     }
    .landing-page .head .lists .toggle {
    margin-left: 86%;
    }
    /* .landing-page .head .lists .mini-list{
        display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: #293dab;
    color: white;
    line-height: 4.3;
    top: 0;
    right: 13%;
    width: 300px;
    text-align: center;
    height: 300px;
    }
    .landing-page .head .lists .mini-list li a{
        color: white;
    } */
     .landing-page .head .logo {
        padding: 0px;
        width: 55%;
    }
    .landing-page .main{
        padding: 0;
        width: 100%;
    }
    .landing-page .main .h1 {
        font-size: 29px;
        margin: 0 13px;;
    }
    .landing-page .main p {
        width: 95%;
    }
}
@media (min-width: 576px) and (max-width: 768px ) { 
    .landing-page .main p {
        width: 76%;
    }
}
@media (min-width: 576px)  and (max-width: 992px ){ 
    .landing-page {
        width: 90%;
    }
    .landing-page .head .lists {
        padding: 0;
        width: calc(100% - 20%);   
     }
     .landing-page .head .logo {
        padding: 0px;
    }
    .landing-page .main .h1 {
        font-size: 34px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px ) { 
    .landing-page {
        width: 70%;
    }
    .landing-page .main{
        padding: 0px;
    }
    .landing-page .main p{
       width: 83%;
    } 
    
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px )  { 
    .landing-page .main{
        /* margin-top: 20px; */
        padding: 0 10px;
    }
    .landing-page .main p{
        width: 66%;
    } 
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .landing-page .main{
        padding: 0 20px;
    } */
    /* .landing-page .main p{
        width: 52%;
    }  */
}